{% extends "base.html" %}

{% block body %}
<div class="col-lg-7 mb-5 mx-auto">
    <div class="contact-form bg-light p-30">
        <div class="registration form">
            {% if profile.image %}
            <img src="{{profile.image.url}}" alt="" style="width: 50px;height: 50px;border-radius: 40%;">
            {% endif %}
            <header>Signup</header>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{userForm}}
                {{profileForm}}
                <button type='submit' class="btn btn-primary">Submit</button>
            </form>
            <div class="signup">
            <span class="signup">Already have an account?
            <label for="check">Login</label>
            </span>
            </div>
        </div>
    </div>
</div>        


{% endblock body %}