{% extends "base.html" %}

{% block body %}
<div class="col-lg-7 mb-5 mx-auto">
    <div class="contact-form bg-light p-30">
        <div class="login form">
            <header>Reset Password</header>
            <form method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Enter your Email" name="email">
                <input type="password" placeholder="Enter New password" name="password1">
                <input type="password" placeholder="Confirm New password" name="password2">
   
                <button type='submit' class="btn btn-primary">Reset Password</button>
            </form>
            
        </div>
    </div>
</div>        
{% endblock body %}